// 辅助 --》 常量
// @import "../import/mixins.sass";

/* 主体
   ========================================================================== */


/**
 * 1. 主容器
 * by. 刘玲 2016-11-24
 */

.hc-main {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}


/* 主体 end
   ========================================================================== */


/* display
   ========================================================================== */


/**
 * 1. 显示
 * by. 刘玲 2016-11-24
 */

.hc-inline {
    display: inline;
}

.hc-inline-block {
    display: inline-block;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.hc-box {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -o-box !important;
    display: box !important;
}


/* display end
   ========================================================================== */


/* float
   ========================================================================== */


/**
 * 1. 浮动
 * by. 刘玲 2016-11-24
 */

//浮动
.hc-float-left {
    float: left;
}

.hc-float-right {
    float: right;
}

//清除浮动
.clearfix {
    zoom: 1;
    _zoom: 1;
}

.clearfix::after {
    clear: both;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.overflow-x {
    overflow: hidden;
    overflow-x: hidden;
}


/* float end
   ========================================================================== */


/* text-align
   ========================================================================== */


/**
 * 1. 水平对齐
 * by. 刘玲 2016-11-24
 */

.hc-text-align-left {
    text-align: left;
}

.hc-text-align-right {
    text-align: right;
}

.hc-text-align-center {
    text-align: center;
}


/* text-align end
   ========================================================================== */


/* text文本
   ========================================================================== */


/**
 * 1. text文本
 * by. 刘玲 2016-11-24
 */

//超出部分隐藏，并显示....
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//强制换行
.text-force-wrap {
    word-break: break-all;
    white-space: pre-wrap;
}

//强制不换行
.text-not-wrap {
    white-space: nowrap;
}


/* text文本 end
   ========================================================================== */


// /*
//    !*1px-border-bottom*!
// .border,
// .border-radius{
//     position: relative;
// }
// @media (-webkit-min-device-pixel-ratio: 2){
//     .border{
//         border: none;
//         background-image: -webkit-linear-gradient(90deg,#e2e2e2,#fff 50%,transparent 50%);
//         background-image: -moz-linear-gradient(90deg,#fff,#e2e2e2 50%,transparent 50%);
//         background-image: -o-linear-gradient(90deg,#e2e2e2,#fff 50%,transparent 50%);
//         background-image: linear-gradient(0,#fff,#e2e2e2 50%,transparent 50%);
//         background-size: 100% 1px;
//         background-repeat: no-repeat;
//         background-position: bottom
//     }
// }*/


/***边框*********************************************************************/
$color_border: #d7d7d7; //边框颜色值

//上边框
.border-t {
    border-top: 1px solid $color_border;
}
/* @media (-webkit-min-device-pixel-ratio: 2){
    .border-t{
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left top;
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border));
    }
} */

//下边框
.border-b {
    border-bottom: 1px solid $color_border;
}
/* @media (-webkit-min-device-pixel-ratio: 2){
    .border-b{
        border: 0;
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px;
        background-position: left bottom;
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border));
    }
} */

//左边框
.border-l{
    border-left: 1px solid $color_border;
}
/* @media (-webkit-min-device-pixel-ratio: 2){
    .border-l{
        border: 0;
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%;
        background-position: left top;
        background-image: -webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border));
    }
} */

//右边框
.border-l{
    border-left: 1px solid $color_border;
}
/* @media (-webkit-min-device-pixel-ratio: 2){
    .border-l{
        border: 0;
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%;
        background-position: right top;
        background-image: -webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border));
    }
} */

//边框
.border{
    border: 1px solid $color_border;
}
/* @media (-webkit-min-device-pixel-ratio: 2){
    .border{
        position: relative;
        border: 0;
    }
    .border:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border)),-webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border)),-webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,$color_border),to($color_border));
        -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
        background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
        -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
        background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
        background-repeat: no-repeat;
        background-position: top,right,bottom,left;
        padding: 1px;
        -webkit-box-sizing: border-box;
        z-index: 10;
        pointer-events: none;
    }
} */


//圆角边框
.border-radius {
    border: 1px solid $color_border;
    border-radius: 4px;
}
/* @media (-webkit-min-device-pixel-ratio: 2){
    .border-radius{
        position: relative;
        border: 0;
    }
    .border-radius:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $color_border;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 8px;
        pointer-events: none;
    }
} */

/***end 边框*********************************************************************/