@import '../../assets/style/mixins/util';

@function getImgUrl($n){
    @return "../../assets/images/"+$n+".png";
}
.Home {
    height: 100%;
    position: relative;
    .list {
        width: 100%;
        height: 100%;
        background-color: #000;
        li {
            width: 100%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-position: 50%;
            .download {
                width: size(214);
                height: size(132);
                position: absolute;
                left: size(44);
                top: size(376);
                background-image: url(getImgUrl('index_download'));
                background-size: 100% 100%;
            }
            .pay {
                width: size(284);
                height: size(116);
                position: absolute;
                right: size(44);
                bottom: size(280);
                background-image: url(getImgUrl('index_pay'));
                background-size: 100% 100%;
            }
            .upswipe {
                width: size(34);
                height: size(32);
                position: absolute;
                bottom: size(60);
                left: 50%;
                margin-left: -(size(34));
                background-image: url(getImgUrl('index_upswipe'));
                background-size: 100% 100%;
            }
        }



    }
    .swiper-container {
        height: 100%;
    }


}
